:root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    box-sizing: border-box;
}
.body {
    width: 90%;
    margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.103);
}
.logo img {
  width: 100px;
  padding-left: 40px;
  
}
.nav-items ul {
  display: flex;
}
.nav-items  ul  li {
  list-style: none;
  padding-right: 40px;
}
.card-container{
    width: 250px;
    height: 100%;
    padding: 5px;
    background: #00000010;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px;
}
.card-container img{
    width: 250px;
    border-radius: 5px;
}
.card-container:hover{
    border: 2px solid rgba(0, 0, 0, 0.13);
}
.search{
   padding: 10px;
   color: gray;
}
.card-details > span{
  color: rgb(255, 255, 255);
  font-weight: bolder;
  position: relative;
  bottom: 30px;
  left: 10px;
  letter-spacing: 3px;
}
.card-details .right{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.card-details .right i {
    color: rgb(240, 175, 11);
}
.card-details .right .rating span{
    color: rgb(100, 100, 100);
    margin: 0;
    margin-right: 8px;
}
.card-details .right .rating {
    display: flex;
    gap: 2px;
}
.card-details .right h2{
    margin: 0;
    font-size: 20px;
}
.card-details .left{
    color: rgba(107, 106, 106, 0.699);
    margin-top: 5px;
}
.card-details .left h3{
    margin: 0;
    font-size: 14px;
}
p{
    margin: 0;
}
.card-details .left p{
    font-size: 12px;
    margin-bottom: 10px;
}
.card-details .left h4{
    margin: 10 0px;
    font-size: 14px;
}
.res-container{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.food-type{
    display: flex;
    justify-content: space-between;
}
.food-type i{
    margin-right: 10px;
    font-size: 15px;
}


